/* RecipeList.css */

/* Background styling for RecipeList page */
.recipe-list-container {
  background: url('..\images\BG-bread-space-left.jpg') no-repeat center center/cover;
  background-color: #333; /* Fallback color */
  opacity: 100%;
  color: white;
  padding: 20px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3); /* Optional: Adds subtle depth */
  border-radius: 0; /* Remove rounded corners */
  min-height: calc(100vh - 60px); /* Adjust this value according to the height of your navigation bar */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* Search bar container */
.search-bar-container {
  display: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh; /* Adjust this value to move the search bar up or down */
}

.search-bar {
  width: 450px;
  padding: 10px;
  margin-bottom: 20px; /* Space between search bar and recipe grid */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Recipe grid styles */
.recipe-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  animation: fadeIn 0.5s ease-in-out;
  text-align: center;
  cursor: pointer;
  color: white;
  height: 250px; /* Adjust height as needed */
  width: 200px; /* Fixed width for each card */
  position: relative;
  overflow: hidden;
}

.recipe-card .recipe-name {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 4px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 20px);
  text-align: center;
}

.recipe-card:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/* Animation styles */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.recipe-card-container {
  position: relative;
  display: inline-block;
}

.recipe-card {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  border: none;
  position: relative;
  cursor: pointer;
}

.recipe-name {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  border-radius: 3px;
}

.favorite-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: yellow;
}

.favorite-button.favorited {
  color: yellow;
}
